@import 'src/scss/vars.scss';

$ww: $lgrey;

.custom-navbar {
    &.light {
        --text-color: #{rgba($blue, 0.75)};
        --text-color-hover: #{$blue};
        --bg-color: transparent;
    }

    &.dark {
        --text-color: #{rgba($ww, 0.75)};
        --text-color-hover: #{$ww};
        --bg-color: #{darken(rgba($blue, 0.8), 10)};
    }

    &.home {
        --text-color: #{rgba($ww, 0.75)};
        --text-color-hover: #{$ww};
        --bg-color: transparent;
    }

    transition: 1s;

    background-color: var(--bg-color) !important;

    .navbar-menu {
        .navbar-item {
            color: var(--text-color);

            margin-right: 1rem;

            height: 100%;

            position: relative;
            font-weight: 500;

            &.is-active,
            &:hover {
                background-color: transparent;

                span {
                    position: relative;
                    color: var(--text-color-hover);
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 50%;
                        width: 100%;
                        height: 3px;
                        background: var(--text-color-hover);
                        transform: translate(-50%, 0);
                    }
                }
            }

            &:focus {
                // background: rgba($white, 1) !important;
                background: rgba(0, 0, 0, 0) !important;
                // color: rgba($blue, 0.75) !important;
            }
        }
    }

    @media screen and (max-width: 1025px) {
        .navbar-menu {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100vh !important;
            background: darken(rgba($blue, 0.9), 10) !important;
            padding-top: 4rem;
            max-height: 100vh !important;

            // -webkit-backdrop-filter: blur(10px) !important;
            // backdrop-filter: blur(10px) !important;

            transition: 1s;
            transform: translateX(100%);

            display: block;

            &.is-active {
                transform: translateX(0) !important;
            }

            z-index: -1;

            .navbar-start {
                padding-top: 40px;

                .navbar-item {
                    text-align: center !important;
                    font-size: 1.5rem;
                    color: $ww;

                    margin: 0;

                    &.is-active,
                    &:hover {
                        background-color: $ww;
                        color: $ww;

                        span {
                            position: relative;
                            color: lighten($blue, 20);
                            &::after {
                                content: '';
                                display: none;
                            }
                        }
                    }

                    &:focus {
                        background-color: $ww !important;
                        color: $ww !important;

                        span {
                            position: relative;
                            color: lighten($blue, 20);
                            &::after {
                                content: '';
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .navbar-button {
            height: 40px;
            border-radius: 10px !important;
        }
    }
}

@media screen and (min-width: 1025px) {
    .custom-navbar {
        .container {
            display: flex;
            > div {
                width: 33.33% !important;
                flex-basis: 33.33% !important;
            }

            .navbar-menu {
                display: flex;

                .navbar-start {
                    column-gap: 1rem;
                    margin: 0;
                    width: 100%;
                    justify-content: center !important;
                }
            }
        }
    }
}
