.main_container {
    position: relative;
    height: 500px;
    left: 50%;

    transform: translateX(-50%);
    aspect-ratio: 1 / 1;

    border-radius: 50%;

    border: 3px dashed rgba(dodgerblue, 0.5);

    .btn_container {
        position: absolute;
        top: 0;
    }

    // transform: rotate(45deg);
}

.element {
    width: 200px;
    height: 100px;
    background-color: rgba(purple, 0.25);
    position: relative;
}
