.container {
    display: flex;
    justify-content: space-evenly;
}

.iconsImg:nth-child(1) {
    width: 6rem;
}

@media screen and (max-width: 768px) {
    // display max two on mobile

    .container {
        display: flex;
        flex-direction: column;
    }
}
