.container {
    > div {
        &:nth-child(2) {
            display: flex;
            justify-content: center;
        }

        &:nth-child(3) {
            display: flex;
            justify-content: end;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        > div {
            display: flex;
            justify-content: center !important;
        }
    }
}
