@import 'src/scss/bulma-custom-vars';

.root {
    min-height: calc(100vh - #{$navbar-height});
    height: 1px;
}

.videoo {
    height: 450px;
    display: flex;

    video {
        height: 100%;
    }
}

.interval {
    flex-direction: row-reverse;
}

.extend {
    &::before {
        height: $navbar-height;
        content: '';
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .root {
        height: auto;
    }

    .textContainer {
        margin: auto;
    }

    .mb {
        margin-bottom: 5rem !important;
    }

    .videoo {
        height: 300px;
        display: flex;
        justify-content: center !important;
    }
}
