@import 'src/scss/bulma-custom-vars';

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    display: flex;
    justify-content: center;

    box-shadow: none;

    img,
    video {
        position: absolute;
        top: 0;

        height: 100%;
    }
}

.interval {
    flex-direction: row-reverse;
}

.extend {
    &::before {
        height: $navbar-height;
        content: '';
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .textContainer {
        margin: auto;
    }

    .mb {
        margin-bottom: 0rem !important;
    }
}
