@import 'src/scss/bulma-custom-vars';

.root {
    min-height: calc(100vh - #{$navbar-height});
    height: 1px;
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    display: flex;
    justify-content: center;

    box-shadow: none;

    img,
    video {
        position: absolute;
        top: -5rem;
        height: 150%;
    }
}

@media screen and (max-width: 768px) {
    .root {
        height: auto;
    }
}
