@import 'src/scss/bulma-custom-vars';

.bg {
    background-color: #f0f0f0;
    background: url('/Media/heroImg.png') no-repeat center center fixed;
    background-size: cover;
    background-attachment: unset;

    height: 1px;
    min-height: calc(100vh - #{$navbar-height});
}

@media screen and (max-width: 768px) {
    .column {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
