// Navigation-Bar Design

.navbar {
    display: flex;
    align-items: center;
    padding: 2rem;
    margin: 0;
}

.navbarMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 22rem;
    gap: 85px;
    font-size: 25px;
}

.navbarBrand {
    display: flex;
}

.logoImg {
    width: 380px;
}

.navLink {
    color: #fff;
}

// Nav bar responsive //

@media all and (max-width: 300px) {
    .navbarMenu {
        color: #fff;
        display: none;
    }

    .logoImg {
        width: 400px;
        margin: 0 1rem;
    }
}

// Cards Component Design

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin: 20rem auto;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 8px 10px 20px -10px rgba(128, 128, 128, 0.75);
    transition: transform .2s;
    width: 20vw;
    height: 42vh;
    text-align: center;
}

.card:nth-child(2) {
    background: linear-gradient(90deg, rgba(7, 1, 129, 0.8) 8%, rgba(0, 255, 255, 0.8) 66%, );
    transform: scale(1.1);
}


.card:hover {
    background: linear-gradient(90deg, rgba(7, 1, 129, 0.8) 8%, rgba(0, 255, 255, 0.8) 66%, );
    transform: scale(1.1);
}

.cardImg {
    max-width: 82%;
    padding-top: 3rem;
    padding: 1rem;
}

.imgBox:nth-child(2) {
    width: 40%;
}


.cardTitle {
    text-align: center;
    color: #03045e;
    font-weight: bold;
}

.cardDescription {
    text-align: center;
    color: #03045e;
    font-weight: 300;
    margin: 1rem auto;
    width: 250px;
}

// Card Responsive //

@media screen and (max-width: 390px) {
    .cardContainer {
        display: flex;
        flex-direction: column;
        margin: 16rem 0;
    }

    .card {
        width: 79vw;
        height: 50vh;
    }

    .cardContent {
        padding: 2rem;
    }

    .cardImg {
        width: 75%;
    }

    .imgBox {
        padding: 0 2rem;
    }

    .cardTitle {
        margin: 1rem 1rem;
    }

    .cardDescription {
        text-align: center;
        margin: 0 2px;
    }
}

// metaFooter //

.footerContainer {
    background: linear-gradient(90deg, rgba(7, 1, 122, 1) 5%, rgba(0, 255, 255, 0.74) 61%); //
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40rem;
    padding: 0rem 5rem;
}

.footerTitle {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.secondColor {
    color: #00ffff;
}

.footerDescription {
    color: #fff;
    line-height: 1.7rem;
    word-spacing: 3px;
    font-size: 20px;
    margin: 1rem auto;
    letter-spacing: 1px;
    width: 40rem;
}

.imgSize {
    height: 70rem;
    position: relative;
    bottom: 15.05rem;
    right: 15rem;
    max-width: 100rem;
}


// MetaFooter Responsive //
@media all and (max-width: 400px) {

    .footerContainer {
        background: linear-gradient(90deg, rgba(0,8,147,1) 0%, rgba(0,255,255,1) 100%);
        display: flex;
        align-items: center;
        // justify-content: space-between;
        justify-content: center;
        height: 40rem;
        padding: 0rem 5rem;
    }
    .footerTitle {
        text-align: center;
        font-size: 25px;
        padding: 1rem 0;
    }

    .footerDescription {
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 1px;
        width: 300px;
        text-align: center;
    }

    .imgSize {
        display: none;
    }
}

// Our Services

.ourServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem auto;
}

.servicesTitle {
    padding: 0 1rem;
    font-size: 30px;
    font-weight: 600;
    color: #03045e;
}

.OurServicesDescription {
    padding: 2rem 0;
}

// TeamCard //

.teamContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.teamBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.boxImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 0, 255, 1) 0%, rgba(29, 68, 253, 1) 50%, rgba(0, 255, 255, 1) 100%);
    padding: 2px;
    border-radius: 25px;
}

.imgTeam {
    border-radius: 20px;
    max-width: 20vw;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0rem;
    width: 79%;
}

.teamName {
    color: #03045e;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
}

.position {
    font-size: 25px;
    color: #00a2ff
}

.teamDescription {
    text-align: center;
    color: #03045e;
    word-break: break-all;
    margin: 1rem auto;
    font-weight: 400;
}



// TeamCard responsive //

@media all and (max-width:600px) {
    .teamContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
    }

    .teamBox {
        max-width: 100%;
    }

    .boxImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imgTeam {
        border-radius: 20px;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .teamName {
        margin: -1rem auto;
    }

    .position {
        padding: 1rem;
    }

    .teamDescription {
        max-width: 80vw;
    }
}

@media all and (max-width: 800px) {
    .teamContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
    }

    .teamBox {
        max-width: 100%;
    }

    .boxImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imgTeam {
        max-width: 75%;
        border-radius: 20px;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .teamName {
        margin: -1rem auto;
    }

    .position {
        padding: 1rem;
    }

    .teamDescription {
        width: 71vw;
        text-align: center;
    }
}


@media all and (max-width: 900px) {
    .teamContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
    }

    .teamBox {
        max-width: 100%;
    }

    .boxImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imgTeam {
        max-width: 75%;
        border-radius: 20px;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .teamName {
        margin: -1rem auto;
    }

    .position {
        padding: 1rem;
    }

    .teamDescription {
        width: 71vw;
        text-align: center;
    }
}

// rounded Images 

.roundImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}

.cardSection {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    font-size: 25px;
}

.imgRound {
    max-width: 100%;
    clip-path: circle();
}



.Box {
    display: flex;
    align-items: center;
    background-color: #03045e;
    clip-path: circle();
    padding: 3px 0;
}


// FOOTER //
.FooterContainer {
    background-color: #f0efef;
    // padding: 3rem;
}

.FooterContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}


.FooterIcons {
    display: flex;
    align-items: center;
    max-width: 100%;
    // gap: 20px;
}

.ImgIcon {
    width: 75px;
}


.mailContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #03045e;
    // max-width: 100%;
    font-size: 25px;
}

.mailImg {
    width: 25%;
    background: transparent;
}

.CopyRights {
    text-align: center;
    padding-bottom: 1rem;
    color: hsl(0, 0%, 61%);
    font-size: 20px;
}


// @media all and (max-width: 900px) {
//     .teamContainer {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         max-width: 100%;
//     }

//     .teamBox {
//         max-width: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }

//     .boxImg {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }

//     .imgTeam {
//         max-width: 75%;
//         border-radius: 20px;
//     }

//     .cardContent {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//     }

//     .teamName {
//         margin: -1rem auto;
//     }

//     .position {
//         padding: 1rem;
//     }

//     .teamDescription {
//         width: 71vw;
//         text-align: center;
//     }
// }

// #ff00ff for the fuchsia 
// #00ffff for the cyan
// #03045e for the dark blue 
// #fafafa for the light grey