// Navigation-Bar Design

.navbar {
    display: flex;
    align-items: center;
    padding: 2rem;
    z-index: 0;
}

.navbarMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 19rem;
    gap: 65px;
    font-size: 25px;
    color: #fff;
}

.navLink {
    color: #fff;

    &:not(.disable):hover {
        color: #fff;
    }

    // Disabling the hover effect on the navLink
}

// Nav bar responsive //

@media all and (max-width: 600px) {
    .navbarMenu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 19rem;
        gap: 65px;
        font-size: 25px;
        color: #fff;
    }
}

// Cards Component Design

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 20rem 0;
}

.card {
    border-radius: 30px;
    box-shadow: 8px 10px 20px -10px rgba(128, 128, 128, 0.75);
    transition: transform .2s;
    width: 25vw;
    height: 40vh;
    // margin: 11rem auto;
}


.card:hover {
    background: linear-gradient(90deg, rgba(7, 1, 129, 0.8) 8%, rgba(0, 255, 255, 0.8) 66%, );
    transform: scale(1.1);
}

.cardContent {
    padding: 4rem;
}

.cardTitle {
    text-align: center;
    color: #03045e;
    font-weight: bold;
    margin: 4rem 0;
}

.cardDescription {
    text-align: center;
    color: #03045e;
    font-weight: 300;
}

// Card Responsive //

@media all and (max-width: 600px) {
    .cardContainer {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 80vw;
        height: 35vh;
    }

    .cardContent {
        padding: 2rem;
    }

    .cardTitle {
        margin: 5rem 0;
    }

    // .cardDescription {
    //     margin: -1rem;
    // }

    //     // .cardContent {
    //     //     margin: 1rem 0;
    //     // }
}

// metaFooter //

.footerContainer {
    background: linear-gradient(90deg, rgba(7, 1, 122, 1) 5%, rgba(0, 255, 255, 0.74) 61%); //
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40rem;
    padding: 0rem 5rem;
}

.footerTitle {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.secondColor {
    color: #00ffff;
}

.footerDescription {
    color: #fff;
    line-height: 1.7rem;
    word-spacing: 3px;
    font-size: 20px;
    margin: 1rem auto;
    letter-spacing: 1px;
    width: 40rem;
}

.imgSize {
    height: 70rem;
    position: relative;
    bottom: 15.05rem;
    right: 15rem;
    max-width: 100rem;
}


// Our Services

.ourServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem auto;
}

.servicesTitle {
    padding: 0 1rem;
    font-size: 30px;
    font-weight: 600;
    color: #03045e;
}

.OurServicesDescription {
    padding: 2rem 0;
}

// TeamCard //

.teamContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.teamBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.boxImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 0, 255, 1) 0%, rgba(29, 68, 253, 1) 50%, rgba(0, 255, 255, 1) 100%);
    padding: 2px;
    border-radius: 25px;
}

.imgTeam {
    border-radius: 20px;
    max-width: 20vw;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -4rem;
}

.teamName {
    color: #03045e;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
}

.position {
    font-size: 25px;
    color: #00a2ff
}

.teamDescription {
    text-align: center;
    color: #03045e;
    word-break: break-all;
    margin: 1rem auto;
    font-weight: 400;
}

// TeamCard responsive //

@media all and (max-width:600px) {
    .teamContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
    }

    .teamBox {
        max-width: 100%;
    }

    .boxImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imgTeam {
        border-radius: 20px;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .teamName {
        margin: -1rem auto;
    }

    .position {
        padding: 1rem;
    }

    .teamDescription {
        max-width: 80vw;
    }
}

@media all and (max-width: 800px) {
    .teamContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
    }

    .teamBox {
        max-width: 100%;
    }

    .boxImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imgTeam {
        max-width: 75%;
        border-radius: 20px;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .teamName {
        margin: -1rem auto;
    }

    .position {
        padding: 1rem;
    }

    .teamDescription {
        width: 71vw;
        text-align: center;
    }
}


@media all and (max-width: 900px) {
    .teamContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
    }

    .teamBox {
        max-width: 100%;
    }

    .boxImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imgTeam {
        max-width: 75%;
        border-radius: 20px;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .teamName {
        margin: -1rem auto;
    }

    .position {
        padding: 1rem;
    }

    .teamDescription {
        width: 71vw;
        text-align: center;
    }
}


// @media all and (max-width: 900px) {
//     .teamContainer {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         max-width: 100%;
//     }

//     .teamBox {
//         max-width: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }

//     .boxImg {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }

//     .imgTeam {
//         max-width: 75%;
//         border-radius: 20px;
//     }

//     .cardContent {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//     }

//     .teamName {
//         margin: -1rem auto;
//     }

//     .position {
//         padding: 1rem;
//     }

//     .teamDescription {
//         width: 71vw;
//         text-align: center;
//     }
// }

// #ff00ff for the fuchsia 
// #00ffff for the cyan
// #03045e for the dark blue 
// #fafafa for the light grey