@import 'src/scss/vars';
.root {
    // height: 150%;
    height: 1px;
    min-height: 90vh;
    overflow: hidden;
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
    margin-bottom: 10rem;
    box-sizing: content-box;
}

.carousel {
    transform: translateX(50%) !important;
}

@media screen and (max-width: 768px) {
    .imgContainer {
        justify-content: center;
    }

    .root {
        height: auto;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        margin-bottom: 1rem;
    }

    .carousel {
        transform: translateX(30%) !important;
    }

    #column {
        margin-bottom: 4rem;
    }
}
