.contactContainer {
    //// height: 100%;
    min-width: fit-content;
    // height: 150%;
}


// Content 

.contactContentDescription {
    text-align: center;
    color: #fff;
    margin: 2rem;
}

.contactTitle {
    font-size: 50px;
    font-weight: 500;
}

.contactText {
    font-size: 25px;
    font-weight: 300;
    padding: 1rem; // adjusting text height
}


// form

.Box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contentBoxContainer {
    display: flex;
    align-items: center;
    margin: 3rem 0;
}

.formBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50rem;
    margin: 0 6rem;
    background-color: #fff;
    padding: 3rem 1rem;
    border-radius: 30px;
}


.Input {
    margin: 1rem 1rem;
    border: none;
    border-bottom: 1px solid #03045e;
    outline: none;
    padding: 1rem 0;
    font-size: 18px;
}

.Input::placeholder {
    color: #03045e;
    font-weight: 200;
    font-size: 20px;
    line-height: normal;
}

.Inputcomment {
    margin: 1rem 1rem;
    border: none;
    border-bottom: 1px solid #03045e;
    outline: none;
    padding: 1rem 0;
}

.Inputcomment::placeholder {
    color: #03045e;
    font-weight: 200;
    font-size: 20px;
    line-height: 12rem;
}


.formButton {
    border: 1px solid #03045e;
    background-color: #fff;
    color: #03045e;
    padding: 13px;
    width: 7vw;
    border-radius: 7px;
    margin: 2rem 1rem;
    font-size: 20px;
}

.imgBox {
    margin: 0 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contactInformation {
    display: flex;
    flex-direction: column;
    margin: 1rem 7rem;
    line-height: 30px;
    color: #fff;
    font-weight: 400;
}

@media all and (max-width: 300px) {

    .contactTitle {
        font-size: 70px;
    }

    .contactContainer {
        // height: 100%;
    }

    .contentBoxContainer {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        font-size: 40px;
    }

    .contactContentDescription {
        font-size: 45px;
    }

    .formBox {
        display: grid;
        grid-template-columns: 1fr;
        width: 150vw;
        background-color: #fff;
        border-radius: 30px;
        margin: 0 1rem;
    }

    .desktopImage {
        padding: 2rem 0;
    }

    .formButton {
        width: 30vw;
    }

    .contactInformation {
        margin: 1rem 1rem;
        line-height: 55px;
        font-size: 23px;
    }
}



@media all and (max-width: 400px) {

    .contactTitle {
        font-size: 70px;
    }

    .contactContainer {
        // height: 100%;
    }

    .contentBoxContainer {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        font-size: 40px;
    }

    .contactContentDescription {
        font-size: 45px;
    }

    .formBox {
        display: grid;
        grid-template-columns: 1fr;
        width: 150vw;
        background-color: #fff;
        border-radius: 30px;
        margin: 0 1rem;
    }

    .desktopImage {
        padding: 2rem 0;
    }

    .formButton {
        width: 40vw;
    }

    .contactInformation {
        margin: 1rem 1rem;
        line-height: 55px;
        font-size: 23px;
    }
}


@media all and (max-width: 500px) {

    .contactTitle {
        font-size: 70px;
    }

    .contactContainer {
        // height: 100%;
    }

    .contentBoxContainer {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        font-size: 40px;
    }

    .contactContentDescription {
        font-size: 45px;
    }

    .formBox {
        display: grid;
        grid-template-columns: 1fr;
        width: 150vw;
        background-color: #fff;
        border-radius: 30px;
        margin: 0 1rem;
    }

    .desktopImage {
        padding: 2rem 0;
    }

    .formButton {
        width: 40%;
        font-size: 20px;
    }

    .contactInformation {
        margin: 1rem 1rem;
        line-height: 55px;
        font-size: 23px;
    }
}



@media all and (max-width: 700px) {

    .contactTitle {
        font-size: 70px;
    }

    .contactContainer {
        // height: 100%;
    }

    .contentBoxContainer {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        font-size: 40px;
    }

    .contactContentDescription {
        font-size: 45px;
    }

    .formBox {
        display: grid;
        grid-template-columns: 1fr;
        width: 150vw;
        background-color: #fff;
        border-radius: 30px;
        margin: 0 1rem;
    }

    .desktopImage {
        padding: 2rem 0;
    }

    .formButton {
        width: 30vw;
    }

    .contactInformation {
        margin: 1rem 1rem;
        line-height: 55px;
        font-size: 23px;
    }
}


@media all and (max-width: 900px) {

    .contactTitle {
        font-size: 70px;
    }

    .contactContainer {
        // height: 100%;
    }

    .contentBoxContainer {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        font-size: 40px;
    }

    .contactContentDescription {
        font-size: 45px;
    }

    .formBox {
        display: grid;
        grid-template-columns: 1fr;
        width: 150vw;
        background-color: #fff;
        border-radius: 30px;
        margin: 0 1rem;
    }

    .desktopImage {
        padding: 2rem 0;
    }

    .formButton {
        width: 20vw;
    }

    .contactInformation {
        margin: 1rem 1rem;
        line-height: 55px;
        font-size: 23px;
    }
}


@media all and (max-width: 1024px) {
    .contentBoxContainer {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .desktopImage {
        padding: 2rem 0;
    }

    .Input::placeholder {
        font-size: 30px;
    }

    .Inputcomment::placeholder {
        font-size: 30px;
    }

    .contactInformation {
        line-height: 55px;
        font-size: 25px;
    }
}