
.bg {
    background-color: #f0f0f0;
    background-image: url('/Media/heroImg.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

.multipleColor {
    color: #00ffff;
}

.content {
    margin: 6rem 4rem;
}

.title {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

.description {
    color: #fff;
    line-height: 1.7rem; 
    word-spacing: 3px;   
    font-size: 20px;
    margin: 1rem auto;
    letter-spacing: 1px;
    width: auto auto;
}

.btnMain {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,249,1) 0%, rgba(0,255,255,1) 68%);
    padding: 0.7rem;
    border-radius: 10px;
    width: 10%;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 2rem 0;
}




