@use 'sass:map';

$blue: #03045e;
$fuchsia: #ff00ff;
$cyan: #00ffff;
$lgrey: #fafafa;

$gra1: linear-gradient(90deg, $fuchsia, $cyan);
$gra2: linear-gradient(90deg, $blue, $cyan);

$hcolors: (
    blue: $blue,
    fuchsia: $fuchsia,
    cyan: $cyan,
    lgrey: $lgrey,
);

$hgras: (
    gra1: $gra1,
    gra2: $gra2,
);

$z-index-glasspanel: 100;
